
        #pg-7-0, #pg-7-1 {
            margin-bottom: 0px;
        }

        #pg-7-2, #pg-7-3, #pl-7 .panel-grid-cell .panel {
            margin-bottom: 30px;
        }

        #pgc-7-3-0, #pgc-7-3-1, #pgc-7-3-2 {
            width: 33.333%;
        }

        #pg-7-3 .panel-grid-cell {
            float: right;
        }

        #pl-7 .panel-grid-cell .panel:last-child {
            margin-bottom: 0;
        }

        #pg-7-3 {
            margin-left: -15px;
            margin-right: -15px;
        }

            #pg-7-3 .panel-grid-cell {
                padding-left: 15px;
                padding-right: 15px;
            }

        @media (max-width:780px) {
            #pg-7-0 .panel-grid-cell, #pg-7-1 .panel-grid-cell, #pg-7-2 .panel-grid-cell, #pg-7-3 .panel-grid-cell, #pg-7-4 .panel-grid-cell {
                float: none;
                width: auto;
            }

            #pgc-7-3-0, #pgc-7-3-1 {
                margin-bottom: 30px;
            }

            #pl-7 .panel-grid {
                margin-left: 0;
                margin-right: 0;
            }

            #pl-7 .panel-grid-cell {
                padding: 0;
            }
        }

        #pg-2488-0, #pl-2488 .panel-grid-cell .panel {
            margin-bottom: 30px;
        }

            #pl-2488 .panel-grid-cell .panel:last-child {
                margin-bottom: 0;
            }

        @media (max-width:780px) {
            #pg-2488-0 .panel-grid-cell, #pg-2488-1 .panel-grid-cell {
                float: none;
                width: auto;
            }

            #pl-2488 .panel-grid {
                margin-left: 0;
                margin-right: 0;
            }

            #pl-2488 .panel-grid-cell {
                padding: 0;
            }
        }

        #pl-2490 .panel-grid-cell .panel {
            margin-bottom: 30px;
        }

            #pl-2490 .panel-grid-cell .panel:last-child {
                margin-bottom: 0;
            }

        @media (max-width:780px) {
            #pg-2490-0 .panel-grid-cell {
                float: none;
                width: auto;
            }

            #pl-2490 .panel-grid {
                margin-left: 0;
                margin-right: 0;
            }

            #pl-2490 .panel-grid-cell {
                padding: 0;
            }
        }

        #pgc-2505-0-0 {
            width: 26.364%;
        }

        #pgc-2505-0-1 {
            width: 73.636%;
        }

        #pg-2505-0, #pg-2505-1, #pg-2505-2, #pg-2505-3, #pl-2505 .panel-grid-cell .panel {
            margin-bottom: 30px;
        }

            #pg-2505-0 .panel-grid-cell, #pg-2505-2 .panel-grid-cell, #pg-2505-3 .panel-grid-cell, #pg-2505-4 .panel-grid-cell {
                float: right;
            }

        #pgc-2505-2-0, #pgc-2505-2-1, #pgc-2505-2-2, #pgc-2505-2-3, #pgc-2505-2-4 {
            width: 20%;
        }

        #pgc-2505-3-0, #pgc-2505-3-1 {
            width: 50%;
        }

        #pgc-2505-4-0, #pgc-2505-4-1, #pgc-2505-4-2 {
            width: 33.333%;
        }

        #pl-2505 .panel-grid-cell .panel:last-child {
            margin-bottom: 0;
        }

        #pg-2505-0, #pg-2505-2, #pg-2505-3, #pg-2505-4 {
            margin-left: -15px;
            margin-right: -15px;
        }

            #pg-2505-0 .panel-grid-cell, #pg-2505-2 .panel-grid-cell, #pg-2505-3 .panel-grid-cell, #pg-2505-4 .panel-grid-cell {
                padding-left: 15px;
                padding-right: 15px;
            }

        @media (max-width:780px) {
            #pg-2505-0 .panel-grid-cell, #pg-2505-1 .panel-grid-cell, #pg-2505-2 .panel-grid-cell, #pg-2505-3 .panel-grid-cell, #pg-2505-4 .panel-grid-cell {
                float: none;
                width: auto;
            }

            #pgc-2505-0-0, #pgc-2505-2-0, #pgc-2505-2-1, #pgc-2505-2-2, #pgc-2505-2-3, #pgc-2505-3-0, #pgc-2505-4-0, #pgc-2505-4-1 {
                margin-bottom: 30px;
            }

            #pl-2505 .panel-grid {
                margin-left: 0;
                margin-right: 0;
            }

            #pl-2505 .panel-grid-cell {
                padding: 0;
            }
        }

        #pl-2723 .panel-grid-cell .panel {
            margin-bottom: 30px;
        }

            #pl-2723 .panel-grid-cell .panel:last-child {
                margin-bottom: 0;
            }

        @media (max-width:780px) {
            #pg-2723-0 .panel-grid-cell {
                float: none;
                width: auto;
            }

            #pl-2723 .panel-grid {
                margin-left: 0;
                margin-right: 0;
            }

            #pl-2723 .panel-grid-cell {
                padding: 0;
            }
        }

        #pgc-2714-0-0, #pgc-2714-4-0, #pgc-2714-6-0, #pgc-2714-8-0, #pgc-2714-10-0, #pgc-2714-12-0, #pgc-2714-14-0, #pgc-2714-16-0, #pgc-2714-18-0, #pgc-2714-20-0, #pgc-2714-22-0 {
            width: 28.121%;
        }

        #pgc-2714-0-1, #pgc-2714-4-1, #pgc-2714-6-1, #pgc-2714-8-1, #pgc-2714-10-1, #pgc-2714-12-1, #pgc-2714-14-1, #pgc-2714-16-1, #pgc-2714-18-1, #pgc-2714-20-1, #pgc-2714-22-1 {
            width: 71.879%;
        }

        #pg-2714-0, #pg-2714-1, #pg-2714-2, #pg-2714-3, #pg-2714-4, #pg-2714-5, #pg-2714-6, #pg-2714-7, #pg-2714-8, #pg-2714-9, #pg-2714-10, #pg-2714-11, #pg-2714-12, #pg-2714-13, #pg-2714-14, #pg-2714-15, #pg-2714-16, #pg-2714-17, #pg-2714-18, #pg-2714-19, #pg-2714-20, #pg-2714-21, #pl-2714 .panel-grid-cell .panel {
            margin-bottom: 30px;
        }

            #pg-2714-0 .panel-grid-cell, #pg-2714-2 .panel-grid-cell, #pg-2714-4 .panel-grid-cell, #pg-2714-6 .panel-grid-cell, #pg-2714-8 .panel-grid-cell, #pg-2714-10 .panel-grid-cell, #pg-2714-12 .panel-grid-cell, #pg-2714-14 .panel-grid-cell, #pg-2714-16 .panel-grid-cell, #pg-2714-18 .panel-grid-cell, #pg-2714-20 .panel-grid-cell, #pg-2714-22 .panel-grid-cell {
                float: right;
            }

        #pgc-2714-2-0 {
            width: 28%;
        }

        #pgc-2714-2-1 {
            width: 72%;
        }

        #pl-2714 .panel-grid-cell .panel:last-child {
            margin-bottom: 0;
        }

        #pg-2714-0, #pg-2714-2, #pg-2714-4, #pg-2714-6, #pg-2714-8, #pg-2714-10, #pg-2714-12, #pg-2714-14, #pg-2714-16, #pg-2714-18, #pg-2714-20, #pg-2714-22 {
            margin-left: -15px;
            margin-right: -15px;
        }

            #pg-2714-0 .panel-grid-cell, #pg-2714-2 .panel-grid-cell, #pg-2714-4 .panel-grid-cell, #pg-2714-6 .panel-grid-cell, #pg-2714-8 .panel-grid-cell, #pg-2714-10 .panel-grid-cell, #pg-2714-12 .panel-grid-cell, #pg-2714-14 .panel-grid-cell, #pg-2714-16 .panel-grid-cell, #pg-2714-18 .panel-grid-cell, #pg-2714-20 .panel-grid-cell, #pg-2714-22 .panel-grid-cell {
                padding-left: 15px;
                padding-right: 15px;
            }

        @media (max-width:780px) {
            #pg-2714-0 .panel-grid-cell, #pg-2714-1 .panel-grid-cell, #pg-2714-2 .panel-grid-cell, #pg-2714-3 .panel-grid-cell, #pg-2714-4 .panel-grid-cell, #pg-2714-5 .panel-grid-cell, #pg-2714-6 .panel-grid-cell, #pg-2714-7 .panel-grid-cell, #pg-2714-8 .panel-grid-cell, #pg-2714-9 .panel-grid-cell, #pg-2714-10 .panel-grid-cell, #pg-2714-11 .panel-grid-cell, #pg-2714-12 .panel-grid-cell, #pg-2714-13 .panel-grid-cell, #pg-2714-14 .panel-grid-cell, #pg-2714-15 .panel-grid-cell, #pg-2714-16 .panel-grid-cell, #pg-2714-17 .panel-grid-cell, #pg-2714-18 .panel-grid-cell, #pg-2714-19 .panel-grid-cell, #pg-2714-20 .panel-grid-cell, #pg-2714-21 .panel-grid-cell, #pg-2714-22 .panel-grid-cell {
                float: none;
                width: auto;
            }

            #pgc-2714-0-0, #pgc-2714-2-0, #pgc-2714-4-0, #pgc-2714-6-0, #pgc-2714-8-0, #pgc-2714-10-0, #pgc-2714-12-0, #pgc-2714-14-0, #pgc-2714-16-0, #pgc-2714-18-0, #pgc-2714-20-0, #pgc-2714-22-0 {
                margin-bottom: 30px;
            }

            #pl-2714 .panel-grid {
                margin-left: 0;
                margin-right: 0;
            }

            #pl-2714 .panel-grid-cell {
                padding: 0;
            }
        }

        #pl-2507 .panel-grid-cell .panel {
            margin-bottom: 30px;
        }

            #pl-2507 .panel-grid-cell .panel:last-child {
                margin-bottom: 0;
            }

        @media (max-width:780px) {
            #pg-2507-0 .panel-grid-cell {
                float: none;
                width: auto;
            }

            #pl-2507 .panel-grid {
                margin-left: 0;
                margin-right: 0;
            }

            #pl-2507 .panel-grid-cell {
                padding: 0;
            }
        }

        #pg-2509-0, #pl-2509 .panel-grid-cell .panel {
            margin-bottom: 30px;
        }

        #pgc-2509-1-0, #pgc-2509-1-1 {
            width: 50%;
        }

        #pg-2509-1 .panel-grid-cell {
            float: right;
        }

        #pl-2509 .panel-grid-cell .panel:last-child {
            margin-bottom: 0;
        }

        #pg-2509-1 {
            margin-left: -15px;
            margin-right: -15px;
        }

            #pg-2509-1 .panel-grid-cell {
                padding-left: 15px;
                padding-right: 15px;
            }

        @media (max-width:780px) {
            #pg-2509-0 .panel-grid-cell, #pg-2509-1 .panel-grid-cell {
                float: none;
                width: auto;
            }

            #pgc-2509-1-0 {
                margin-bottom: 30px;
            }

            #pl-2509 .panel-grid {
                margin-left: 0;
                margin-right: 0;
            }

            #pl-2509 .panel-grid-cell {
                padding: 0;
            }
        }

        #pg-2511-0, #pl-2511 .panel-grid-cell .panel {
            margin-bottom: 30px;
        }

        #pgc-2511-1-0, #pgc-2511-1-1, #pgc-2511-1-2, #pgc-2511-1-3, #pgc-2511-1-4, #pgc-2511-1-5, #pgc-2511-1-6 {
            width: 14.286%;
        }

        #pg-2511-1 .panel-grid-cell {
            float: right;
        }

        #pl-2511 .panel-grid-cell .panel:last-child {
            margin-bottom: 0;
        }

        #pg-2511-1 {
            margin-left: -15px;
            margin-right: -15px;
        }

            #pg-2511-1 .panel-grid-cell {
                padding-left: 15px;
                padding-right: 15px;
            }

        @media (max-width:780px) {
            #pg-2511-0 .panel-grid-cell, #pg-2511-1 .panel-grid-cell {
                float: none;
                width: auto;
            }

            #pgc-2511-1-0, #pgc-2511-1-1, #pgc-2511-1-2, #pgc-2511-1-3, #pgc-2511-1-4, #pgc-2511-1-5 {
                margin-bottom: 30px;
            }

            #pl-2511 .panel-grid {
                margin-left: 0;
                margin-right: 0;
            }

            #pl-2511 .panel-grid-cell {
                padding: 0;
            }
        }
    