<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
  
    <include path="~/bootstrap/css/bootstrap.css" />
      <include path="~/htmfont/font-awesome/css/font-awesome.css"/>
        <include path="~/htmfont/fontello/css/fontello.css" />
          <include path="~/htmplugins/magnific-popup/magnific-popup.css"/>
            <include path="~/htmplugins/rs-plugin/css/settings.css"/>
              <include path="~/htmCss/animations.css"/>
                <include path="~/htmplugins/owl-carousel/owl.carousel.css" />
                  <include path="~/htmplugins/owl-carousel/owl.transitions.css" />
                    <include path="~/htmplugins/hover/hover-min.css"/>
                      <include path="~/htmCss/style.css"/>
                        <include path="~/style-switcher/style-switcher.css"/>
                          <include path="~/htmCss/custom.css"/>
  </styleBundle>
</bundles>